site_name: 'OpenJij Tutorial'
copyright: 'Copyright © 2022 - Jij Inc.'

theme:
  name: material
  logo: assets/white_bg_white_logo.svg
  favicon: assets/white_bg_white_logo.svg
  palette:
    primary: indigo
  features:
    - navigation.instant
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.indexes

nav:
  - 'Home': index.md
  - '日本語': tutorial/ja
  - 'English': tutorial/en
  - 'HowToContribute': HowToContribute.md

plugins:
  - mkdocs-jupyter
  - git-revision-date-localized:
     locale: ja
     fallback_to_build_date: true
  - search
  - tags 
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
  - search
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: false
          selection:
            docstring_style: "google"


markdown_extensions:
  - markdown_katex
  - pymdownx.details
  - pymdownx.betterem 
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - admonition
  - def_list
  - attr_list
  - tables
  - toc:
      permalink: true
  - codehilite:
      noclasses: true
      pygments_style: colorful
      linenums: true
