openjij

jupyter

mkdocs[i18n]
mkdocs-jupyter
mkdocs-material 
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
markdown-katex
mkdocs-git-revision-date-localized-plugin
mkdocs-autorefs
mkdocs-static-i18n
mkdocs-minify-plugin
pymdown-extensions