openjij

jupyter

mkdocs[i18n]
mkdocs-jupyter
mkdocs-material 
mkdocstrings[python]
mkdocs-literate-nav
mkdocs-section-index
markdown-katex
mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-pages-plugin
mkdocs-nav-enhancements
mkdocs-autorefs
mkdocs-static-i18n
mkdocs-minify-plugin
mkdocs-htmlproofer-plugin
pymdown-extensions
